
body{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.inputBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  /* border: 2px solid white; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.inputBox{
  /* border: 2px solid wheat; */
  display: flex;
  width: 50%;
  height: 150px;
  justify-content: space-evenly;
}

.inputBox > p{
  padding: 0;
  margin: 0 ;
}

.fileForm{
  display: flex;
  flex-direction: column;
  /* border: 2px solid wheat; */
  justify-content: space-between;
  align-items: center;
  height: 65%;
}

.fileForm > p{
  padding: 0;
  margin: 0;
}

.container{
  height: 200px;
  min-width: 500px;
  overflow-y: scroll;
  padding: 5px 10px;
  margin-top: 10px;
  border: 2px solid black;
}

.folder{
  cursor: pointer;
}
.folder:hover{
  cursor: pointer;
  text-decoration: underline;
}